body {
  padding-top: 30px;

}
.first img {
  text-align: center;
}
.img-circle {
  display: block; margin: 0px auto;
}

label {
  font-size: 18px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 25px;
  font-weight: 600;
}

.sel-set {
    padding: 10px 10px;
    font-size:15px;
    line-height: 1;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
    border-radius: 10px;   
}

.form-control {
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px 12px;
    font-size: 15px;
    line-height: 1.428571;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 2px solid #ccc;
    border-radius: 5px;
}



.bt {
    width: auto;
    margin-top: -5px;
    padding: 10px;
    font-size: 15px;
    line-height: 1.3333333;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
}

.starter-template {
  padding: 20px 15px;
  text-align: center;
}


#menu{
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}

#menu li{
  display:inline;
}

#menu a{
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  display:inline-block;
  padding:7px;
  padding-top: 30px;
  padding-right: 12px;
  padding-left: 12px;
}

#menu a:visited{
  color: black;
}

form {
  margin-right: 150px;
  margin-left: 150px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  form {
  margin-right: 45px;
  margin-left: 45px;
  }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
  .bt {
    width: auto;
    margin-top: -5px;
    padding: 10px;
    font-size: 15px;
    line-height: 1.3333333;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 4px;
  }

}



















//여기서부터  about
.wrapper {
    padding: 6em 0 4em 0;
    position: relative;
  }

.wrapper .inner {
      margin: 0 auto;
      width: 80em;
      position: relative;
      z-index: 99;
    }

.align-center {
    text-align: center;
  }

  
.flex {
    display: -ms-flexbox;
    -ms-flex-pack: justify;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    
    justify-content: space-between;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;


  }


.flex .col {
      width: 28%;
    }

.flex .col img {
      border-style: groove;
    }

.image.fit {
      display: block;
      margin: 0 0 2em 0;
      width: 100%;
    }

.image.fit img {
  width: 100%;
}

.image.round {
border-radius: 100%;
}

.image.round img {
  border-radius: 100%;
}
