#top_menu {
	height: 30px;
	width: 850px;
}

#top_menu ul li {
	list-style: none;
	color: black;
	background: gray;

}

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
